/* .square {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40;
  height:40;
  border: solid grey;
  border-width: thin;
  font-family: Arial;
  font-size: 80%;
  font-weight: bold;
} */

table, td {
  border-collapse: collapse;
}

table {
  border: none;
  border-width: thin;
}

td {
  border: solid lightgrey;
  border-width: thin;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 35;
  height: 35;
  font-family: Arial;
  font-size: 80%;
  font-weight: bold;
}

.hoverable:hover {
  background-color: lightgray;
}

.invalidDate {

}