html {
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Helvetica Neue";
  font-size: 12;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.actualPrice {
  font-size: 22;
  font-weight: bold;
  color: rgb(65,65,65);
}

.price {
  font-size: 12;
  color: rgb(65,65,65);
}

.thinBorder {
  border: solid lightgrey;
  border-width: thin;
}

.thinLine {
  border: none;
  height: 1px;
  color: lightgrey;
  background-color: lightgrey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  width: 275px;
  /* border: '1px solid red'; */
}

.starColor {
  color: rgb(21, 107, 107);
  font-size: 10;
}

table, td {
  border-collapse: collapse;
}

table {
  width: 100%;  
}

td {
  border-collapse: collapse;
  border: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 35px;
  font-size: 80%;
  font-weight: bold;
}

.rightArrow {
  width: 35px;
  height: 35px;
  background-color: yellow;
  background-image: url('https://icon-library.net/images/thin-arrow-icon/thin-arrow-icon-25.jpg');
}

.check {
  border-radius: 2px;
  background: white;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16;
  color: grey;
  font-family:  Helvetica, sans-serif;
  font-weight: 100;
}

.guestsSelect {
  /* margin-top: 3; */
  /* margin-bottom: 3; */
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 2px;
  background: white;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 100;
  font-size: 16;
  font-family: Helvetica, Arial, sans-serif;
}

.reserveButton {
  border-radius: 2px;
  border-width: thin;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  font-size: 14;
  /* background: rgb(255, 90, 95); */
}

.popup {  
  position: absolute;  
  margin: auto;  
}  